node_modules/
interp1-master/
notUsed/
jsQuestSimulate.html
docs/functions.md
jsPsychDemo/jsQUEST_jsPsychDemo_module.html
jsQUEST_MATLAB_simulate.csv
jsQUEST_MATLAB_simulate_per_trial.csv
QuestDemoMatlab.asv
QuestDemoOriginal.m
dist/simulate_time.html
jsPsychDemo/iphone_test - コピー.html
jsPsychDemo/iphone_test.html
jsPsychDemo/jsQUEST.js
jsPsychDemo/jsQUEST_jsPsych_simulate0716.html
jsPsychDemo/jsQUEST_jsPsych_simulate0727.html
jsPsychDemo/jsQUEST_jsPsych_simulate0728.html
jsPsychDemo/jsQUEST_jsPsych_simulate2.html
jsPsychDemo/jspsych-psychophysics.js
jsPsychDemo/math.js
jsPsychDemo/numeric.min.js
Rscripts/.RData
Rscripts/.Rhistory
Rscripts/analysis.R
Rscripts/estimate0805.png
Rscripts/jsQuest1 (7).csv
Rscripts/jsQuest1 (8).csv
Rscripts/jsQUEST３つのSD.png
Rscripts/jsQUEST３つの推定値.png
Rscripts/jsQUEST３つの方法の時間.png
Rscripts/jsQUEST３つの方法の時間２.png
Rscripts/MATLAB1.csv
Rscripts/MATLAB2.csv
Rscripts/matlab３つのSD.png
Rscripts/matlab３つの推定値.png
Rscripts/matlab３つの方法の時間.png
Rscripts/SD0805.png
Rscripts/SDの比較.png
Rscripts/test.csv
Rscripts/test2.csv
Rscripts/test3.csv
Rscripts/test4.csv
Rscripts/time0805.png
Rscripts/tTestの時間の比較.png
Rscripts/推定値の比較.png
Rscripts/*.png
Rscripts/*.pdf